
src/2023_22/lab3/pima-indians-diabetes.data.csv
src/2023_22/lab3/Simple_Feed_Forward_Neural_Networks.ipynb
src/2023_22/lab3/submissions/downloads/MNIST/raw/t10k-images-idx3-ubyte
src/2023_22/lab3/submissions/downloads/MNIST/raw/t10k-images-idx3-ubyte.gz
src/2023_22/lab3/submissions/downloads/MNIST/raw/t10k-labels-idx1-ubyte
src/2023_22/lab3/submissions/downloads/MNIST/raw/t10k-labels-idx1-ubyte.gz
src/2023_22/lab3/submissions/downloads/MNIST/raw/train-images-idx3-ubyte
src/2023_22/lab3/submissions/downloads/MNIST/raw/train-images-idx3-ubyte.gz
src/2023_22/lab3/submissions/downloads/MNIST/raw/train-labels-idx1-ubyte
src/2023_22/lab3/submissions/downloads/MNIST/raw/train-labels-idx1-ubyte.gz
src/2023_22/lab3/Simple_Feed_Forward_Neural_Networks.ipynb
src/2023_22/lab3/Simple_Feed_Forward_Neural_Networks.ipynb
